item_name,unit_cost
Bestseller Veg Fried Rice,
Cheesy Corn Mix,
Chilli Garlic Potato Pops,
Classic Red Sauce Pasta (Penne),
Creamy Alfredo Pasta (Fusilli),
Creamy Cheese Maggi,
"Crunchy Capsicum Pizza [Regular, 7 inches]",
Fiery Cheese Chilli Sandwich [2 slices],
Fiesta Pizza Combo,
Garlic Fried Rice,
"Golden Corn Classic Pizza [Regular, 7 inches]",
Mixed Treasure Fried Rice,
Paneer Fried Rice,
"Paneer Makhni Royale Pizza [Regular, 7 inches]",
Paneer Tikka Grilled Sandwich [2 slices],
Pasta Treat Combo,
Sandwich Meal Box Combo,
Spicy Peri Peri French Fries,
Spicy Schezwan Special Fried Rice,
Street Style Korean Spicy Veg Maggi,
Tangy Green Chutney Sandwich [2 slices],
Tangy Masala Corn,
"Vegie Onion Capsicum Pizza [Regular, 7 inches]",
"Zesty Onion Feast Pizza [Regular, 7 inches]",
"⭐ Ultimate Cheese Delight Pizza [Regular, 7 inches]",
🌙 Midnight Pizza Box Combo (7” Pizza + Small Fries),
"🔥 Herb Paneer Delight Pizza [Regular, 7 inches]",
🔥 Most Ordered Classic French Fries,
